@media only screen and (max-width : 1024px) {
/* Navbar */
.navbar-default {
  font-size: 1.5vw;
}

a.navbar-brand {
    width: 17vw;
}

.navbar-default .navbar-nav a {
  padding-top: 3vh;
}

/* Header */
#slide1 {
    padding-top: 40vh;
  }

header p {
    margin-bottom: 10vh;
    font-size: 1.8vw;
}

a.btn {
    font-size: 1vw;
    border-radius: 6px;
    margin: 2vh;
    padding: 1.3vh 5vw;
}

/* Services */
#slide2 {
    height: 100vh;
}

h2.section-header {
    font-size: 4vw;
    font-weight: 300;
    margin: 0 0 5vh 0;
}

hr.light {
    height: 6vh;
}

.serviceDes>h4 {
    font-size: 1.8vw;
}

.serviceDes>p {
    font-size: 1.6vw;
    margin-bottom: 9vh;
}

/* About Us */
#slide3 {
   height: 100vh;
}

.section-header>p {
  font-size: 2vw;
}

.team-description {
    padding-bottom: 2vh;
}
}


@media only screen and (max-width : 768px) {
 /* Navbar */
 .navbar-default {
    font-size: 2vw;
    width: 100vw;
 }

a.navbar-brand {
    width: 20vw;
}

/* Header */
#slide1 {
    padding-top: 36vh;
  }

h1 {
    font-size: 7vw;
}

header p {
    margin-bottom: 7vh;
}

/* Services */
#slide2 {
    height: 115vh;
}

h2.section-header {
    font-size: 5vw;
    margin: 0 0 5vh 0;
}

hr.light {
    height: 4vh;
}

#services1 {
    margin-bottom: 1vh;
}

#services2 {
    position: absolute;
  }

/* About Us */
#slide3 {
   margin-top: 0.5vh; 
   padding-top: 10vh;
   height: 175vh;
}



.section-header>p {
  font-size: 2vw;
}

.team-description {
    padding-bottom: 2vh;
}

/* Contact */
#slide4 {
    margin-top: 0.5vh;
    padding-top: 9rem;
    height: 97vh;
}

.name, .email, .num, .msg {
    margin-top: 3vh; 
    margin-bottom: 3.2vh;
}
}

@media only screen and (max-width : 425px) {
/* Navbar */
.navbar-default {
    font-size: 20px;
}

a.navbar-brand {
    width: 40vw;
}

.navbar-toggle.collapsed  {
    margin-top: 2vh;
}

/* Header */
#slide1 {
   background-image: url('../images/pic.jpeg');
    padding-top: 33vh;
    height: 105vh;
}

h1 {
    font-size: 30px;
}

header p {
    font-size: 20px;
    margin-bottom: 5vh;
}

a.btn {
    font-size: 12px;
}
/* Services */
#slide2 {
    padding-top: 10vh;
    height: 140vh;
}

h2.section-header {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 5vh 0;
}

hr.light {
    margin-bottom: 2vh
}

.row.services{
    margin-bottom: 3vh;
}

.serviceDes>h4 {
    font-size: 16px;
}

.serviceDes>p {
    color: gray;
    margin-bottom: 3vh;
    font-size: 14px;
    padding: 0 5vw;
}

/* About Us */
#slide3 {
   margin-top: 0.5vh; 
   padding-top: 10vh;
   height: 285vh;
}

.section-header>h1 {
    font-size: 9vw;
}

.section-header>p {
    margin-bottom: 6vh;
    font-size: 5vw;
}

.team-description>h3 {
    font-size: 25px;
}

.team-description>h5 {
    font-size: 17px;
}

/* Contact */
#slide4 {
    margin-top: 0.5vh;
    padding-top: 10vh;
    height: 100vh;
}

#contact>h2 {
    font-size: 30px;
}

#contact>p {
    font-size: 16px;
}

.name, .email, .num, .msg, .submit {
    font-size: 12px;
}

/* Footer */
footer {
    font-size: 10px;
    text-align: center;
}
}

@media only screen and (max-width : 375px) {
/* Header */
#slide1 {
    background-image: url('../images/pic.jpeg');
    padding-top: 33vh;
    height: 105vh;
}

h1 {
    font-size: 30px;
}

header p {
    font-size: 20px;
    margin-bottom: 5vh;
}

a.btn {
    font-size: 12px;
}

/* Services */
#slide2 {
    padding-top: 10vh;
    height: 147vh;
}

h2.section-header {
    font-size: 28px;
    font-weight: 300;
    margin: 0 0 5vh 0;
}

hr.light {
    margin-bottom: 2vh
}

.row.services{
    margin-bottom: 3vh;
}

.serviceDes>h4 {
    font-size: 16px;
}

.serviceDes>p {
    color: gray;
    margin-bottom: 3vh;
    font-size: 14px;
    padding: 0 5vw;
}

/* About Us */
#slide3 {
   margin-top: 0.5vh; 
   padding-top: 10vh;
   height: 255vh;
}

.section-header>h1 {
    font-size: 40px;
}

.section-header>p {
    font-size: 16px;
}

.team-description>h3 {
    font-size: 25px;
}

.team-description>h5 {
    font-size: 17px;
    margin-bottom: 3vh;
}

/* Contact */
 #slide4 {
    margin-top: 0.5vh;
    padding-top: 8vh;
    height: 100vh;
}

#contact>h2 {
    font-size: 30px;
}

#contact>p {
    font-size: 16px;
}

.name, .email, .num, .msg, .submit {
    font-size: 12px;
}

/* Footer */
footer {
    font-size: 10px;
    text-align: center;
}
}


@media only screen and (max-width : 320px) {
/* Navbar */
.navbar-default {
    font-size: 20px;
}

a.navbar-brand {
    width: 40vw;
}

/* Header */
#slide1 {
    background-image: url('../images/header2.jpeg');
    padding-top: 33vh;
    height: 105vh;
}

h1 {
    font-size: 30px;
}

header p {
    font-size: 20px;
    margin-bottom: 5vh;
}

a.btn {
    font-size: 12px;
}

/* Services */
#slide2 {
    padding-top: 10vh;
    height: 150vh;
}

h2.section-header {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 5vh 0;
}

hr.light {
    margin-bottom: 2vh
}

.row.services{
    margin-bottom: 3vh;
}

.serviceDes>h4 {
    font-size: 16px;
}

.serviceDes>p {
    color: gray;
    margin-bottom: 3vh;
    font-size: 14px;
    padding: 0 5vw;
}

/* About Us */
#slide3 {
   margin-top: 0.5vh; 
   padding-top: 10vh;
   height: 225vh;
}

.section-header>h1 {
    font-size: 40px;
}

.section-header>p {
    font-size: 16px;
}

.team-description>h3 {
    font-size: 25px;
}

.team-description>h5 {
    font-size: 17px;
}


/* Contact */
 #slide4 {
    margin-top: 0.5vh;
    padding-top: 8vh;
    height: 103vh;
}

#contact>h2 {
    font-size: 30px;
}

#contact>p {
    font-size: 16px;
}

.name, .email, .num, .msg, .submit {
    font-size: 12px;
}

/* Footer */
footer {
    font-size: 10px;
    text-align: center;
}
}
