@media only screen and (max-width : 1024px) {

/* Services */
#services2 {
    width: 103.1%;
  }


}

@media only screen and (max-width : 979px) {

/* Services */
#services2 {
    width: 105%;
  }

/* About Us */
   #slide3 {
    height: 1230px;
   }

   .team-description>h5 {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width : 768px) {

  /* Header */
#slide1 {
    height: 1050px;
}

    /* Services */
    #slide2 {
    padding: 70px 0 0 0;
    height: 50%;
    }

    /* Contact */
 #slide4 {
    height: 985px;
}

@media only screen and (max-width : 480px) {

  /* Header */
  #slide1 {
      padding-top: 6cm;
      height: 750px;
  }

/* About Us */
  #slide3 {
      background-color: white;
      color: black;
      margin-top: 2px;
      padding-top: 80px;
      height: 1800px;
    }

  .section-header>p {
    font-size: 18px;
    }

  .team-description {
    padding-bottom: 20px;
    }

    /* Footer */

    footer p {
      font-size: 10px;
      text-align: center;
    }
}

@media only screen and (max-width : 320px) {
     
     /* Header */
  #slide1 {
      padding-top: 6cm;
      height: 750px;
  }

  h1 {
    font-size: 30px;
    font-weight: 300;
}

    /* Services */
h2.section-header {
    font-size: 30px;
    font-weight: 300;
}

/* About Us */
  #slide3 {
      background-color: white;
      color: black;
      margin-top: 2px;
      padding-top: 80px;
      height: 1600px;
    }

  .section-header>p {
    font-size: 18px;
    }

  .team-description {
    padding-bottom: 20px;
    }
}

}