/* Main CSS */
html,body {
    color: white;
    background-color: black;
    position: relative;
}

/* Navbar */

.navbar-default {
  font-size: 15px;
  color: white;
  padding: 0px 2% 10px 2%;
  border: none;
  background: transparent;
  transition: background-color 0.3s ease 0s;
}

a.navbar-brand {
    padding: 0 0 0 0;
    width: 180px;
}

.navbar-default.after-scroll-nav-border {
  background: rgba(0, 0, 0, .3);
  transition: background-color 0.3s ease 0s;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  padding-top: 25px;
}


.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
  /*color: ;*/
}

/* Header */
#slide1 {
    background: no-repeat center fixed; 
    background-size: cover;
    background-image: url("https://blackrockdigital.github.io/startbootstrap-creative/img/header.jpg");
    padding-top: 11cm;
    height: 850px;
    text-shadow: 1px 1px 2px #000000;
}


h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

hr {
    display: block;
    border-color: white;
    border-width: 2px;
    max-width: 50px;
}

header p {
    font-size: 150%;
}

.btn {
color: white;
background-color: #0C9AFF;
text-shadow: none;
border-radius: 6px;
}


/* Services */
 #slide2 {
    background-color: white;
    color: black;
    padding: 70px 0 0 0;
    height: 60%;
}

h2.section-header {
    margin: 0 0 50px 0;
    font-size: 30px;
}

#services1 {
    height: 250px;
}

hr.light {
    display: block;
    border-color: black;
    border-width: 2px;
    max-width: 50px;
}

.serviceDes>p {
    color: gray;
    margin-bottom: 40px;
}

/* About Us */
 #slide3 {
    background-color: white;
    color: black;
    margin-top: 2px;
    padding-top: 70px;
    height: 800px;
}

.section-header>h1 {
    color: black;
    text-align: center;
    padding-bottom: 20px;
}

.section-header>p {
    margin-bottom: 40px;
    text-align: center;
    color: gray;
}

/* Contact */
 #slide4 {
    background-color: white;
    color: black;
    margin-top: 2px;
    padding-top: 70px;
    height: 800px;
}

hr {
    display: block;
    border-color: black;
    border-width: 2px;
    max-width: 50px;
}

#contact>p {
    color: black;
    margin-bottom: 70px;
}

.name, .email, .num {
    margin-bottom: 26px;
}

.submit {
    letter-spacing: 2px;
    margin-top: 18px;
    padding: 0;
    height: 50px;
    background-color: #0C9AFF;
    color: white;
    border-radius: 6px;
}

input[type="submit"]:hover {
    background: #ffffff;
    color: #0C9AFF;
}

/* Footer */

footer {
    background-color: white;
    color: black;
    padding-bottom: 40px;
}
 