/* Main CSS */
html,body {
    color: white;
    background-color:#d5e9e6;
    font-family: 'futura-pt', sans-serif;
    position: relative;
}

.slide {
    height:100vh;
}

/* Navbar */
.navbar-default {
  font-size: 1.3em;
  padding: 0em 1em;
  border: none;
  background: white;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
  transition: background-color 0.3s ease 0s;
}

a.navbar-brand {
    padding: 0em;
    width: 15rem;
    height: auto;
}

.navbar-default.after-scroll-nav-border {
  background: rgba(255, 255, 255,0.8);
  transition: background-color 0.3s ease 0s;
}

.navbar-default .navbar-nav a {
  color: black;
  padding-top: 1.7em;
  text-decoration: none;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0C9AFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0C9AFF;
    background-color: transparent; 
}

/* Header */
#slide1 {
    background: no-repeat center fixed; 
    background-size: cover;
    background-image: url('../images/header.jpeg');
    padding-top: 25em;
    text-shadow: 1px 1px 2px #000000;
}

h1 {
    color: white;
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000000;
}

header p {
    font-size: 1.6em;
    text-shadow: 2px 2px 2px #000000;
    margin-bottom: 3em;
}

hr.header {
    display: block;
    border-color: black;
    border-width: 2.5px;
    width: 3vw;
    margin-top: 2em;
    margin-bottom: 2em;
}

a.btn {
    color: white; 
    text-decoration: none;
    box-shadow: 0 0 2px #FFFFFF;
    background-color: #29b6f6;
    text-shadow: none;
    letter-spacing: 2px;
    border-radius: 6px;
    margin: 2em;
    padding: 1vh 4vw;
}

a.btn:hover, .btn:focus {
    background-color: #ffffff;
    color: #0C9AFF;
    border: none;
    transition: 0.2s;
}

a.btn.active {
    box-shadow: 0px 0px 2px #FFFFFF;
    background-color: #29b6f6;
    color: white;
    border: none;
    transition: 0.2s;
}

a.btn.active:hover {
    background-color: white;
    color: #29b6f6;
    border: none;
    transition: 0.2s;
}

/* Services */
 #slide2 {
    background-color: white;
    color: black;
    padding-top: 12vh;
}

.service-header, .services {
    text-align: center;
}

h2.section-header {
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

hr.service {
    display: block;
    border-color: black;
    border-width: 2.5px;
    width: 3vw;
    margin-bottom: 4em;
}

.row.services{
    margin-bottom: 2em;
}

.serviceDes>h4 {
    font-size: 1.4em;

}

.serviceDes>p {
    color: gray;
    margin-bottom: 3em;
    font-size: 1.3em;
}

/* About Us */
 #slide3 {
    background-color: white;
    color: black;
    margin-top: 0.4em;
    padding-top: 10vh;
}

.section-header>h1 {
    color: black;
    text-align: center;
    padding-bottom: 0.2em;
}

.section-header>p {
    font-size: 1.6em;
    margin-bottom: 1.4em;
    text-align: center;
    color: gray;
}

.team-description>h5 {
    font-size: 1.2em;
}

/* Contact */
 #slide4 {
    background: no-repeat center fixed; 
    background-size: cover;
    background-image: url('../images/contact.jpg');
    background-color: white;
    color: black;
    margin-top: 0.4em;
}

.contact.jumbotron {
    margin-top: 11em;
    background-color: rgba(255, 255, 255,0.8);
}

#contact>h2 {
    font-size: 3.5em;
}

hr.contact {
    display: block;
    border-color: black;
    border-width: 2.5px;
    width: 3em;
    margin-top: 2em;
}

#contact>p {
    font-size: 1.3em;
    margin-top: 2.6em;
    margin-bottom: 3em;
}

.name, .email, .num, .msg {
    margin-top: 1.5em; 
    margin-bottom: 1.9em;
}

.submit {
    letter-spacing: 2px;
    margin-top: 1.5em;
    padding: 0em;
    height: 6vh;
    background-color: #29b6f6;
    color: white;
    border-radius: 6px;
}

input[type="submit"]:hover {
    background: #ffffff;
    color: #29b6f6;
    transition: 0.2s;
}

/* Footer */
footer {
    text-align: center;
    background-color: #d5e9e6;
    color: black;
    font-size: 1em;
}
 