/* Main CSS */
html,body {
    color: white;
    background-color: black;
    font-family: 'futura-pt', sans-serif;
    position: relative;
}

.slide {
    height:100vh;
}

/* Navbar */
.navbar-default {
  font-size: 1vw;
  padding: 0px 2% 0px 2%;
  border: none;
  background: white;
  transition: background-color 0.3s ease 0s;
}

a.navbar-brand {
    padding: 0 0 0 0;
    width: 12vw;
    height: auto;
}

.navbar-default.after-scroll-nav-border {
  background: rgba(255, 255, 255,0.8);
  transition: background-color 0.3s ease 0s;
}

.navbar-default .navbar-nav a {
  color: black;
  padding-top: 3vh;
  text-decoration: none;
}

.navbar-default .navbar-nav>li>a {
    color: black;

}

.navbar-default .navbar-nav>li>a:hover {
    color: #0C9AFF;
    
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0C9AFF;
    background-color: transparent; 
}


/* Header */
#slide1 {
    background: no-repeat center fixed; 
    background-size: cover;
    background-image: url('../images/header.jpeg');
    padding-top: 10cm;
    text-shadow: 1px 1px 2px #000000;
}


h1 {
    font-size: 4vw;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000000;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

hr {
    display: block;
    border-color: white;
    border-width: 2px;
    max-width: 50px;
}

header p {
    text-shadow: 2px 2px 2px #000000;
    font-size: 150%;
    margin-bottom: 4vh;
}

a {
     color: white; 
    text-decoration: none;
}

a.btn {
background-color: #0C9AFF;
text-shadow: none;
letter-spacing: 2px;
border-radius: 4px;
}

a.btn:hover, .btn:focus {
    background-color: #ffffff;
    color: #0C9AFF;
    border: none;
    transition: 0.2s;
}

a.btn.active {
    background-color: #0C9AFF;
    color: white;
    border: none;
    transition: 0.2s;
}

a.btn.active:hover {
    background-color: white;
    color: #0C9AFF;
    border: none;
    transition: 0.2s;
}

/* Services */
 #slide2 {
    background-color: white;
    color: black;
    padding: 90px 0 0 0;
    height: 100vh;
}

h2.section-header {
    margin: 3vh 0 6vh 0;
    font-size: 2.7vw;
}

.row #services{
    margin-right: 0;
    width: 100%;
}

hr.light {
    display: block;
    border-color: black;
    border-width: 2px;
    max-width: 50px;
    height: 9vh;
}

.serviceDes>p {
    color: gray;
    margin-bottom: 3vh;
}

/* About Us */
 #slide3 {
    background-color: white;
    color: black;
    margin-top: 0.5vh;
    padding-top: 70px;
}

.section-header>h1 {
    color: black;
    text-align: center;
    padding-bottom: 20px;
}

.section-header>p {
    margin-bottom: 6vh;
    text-align: center;
    color: gray;
}

/* Contact */
 #slide4 {
    background-color: white;
    color: black;
    margin-top: 0.5vh;
    padding-top: 70px;
    height: 97vh;
}

hr {
    display: block;
    border-color: black;
    border-width: 2px;
    max-width: 50px;
}

#contact>p {
    color: black;
    margin-top: 5vh;
    margin-bottom: 7vh;
}

.name, .email, .num, .msg {
    margin-top: 3vh; 
    margin-bottom: 3.1vh;
}

.submit {
    letter-spacing: 2px;
    margin-top: 2vh;
    padding: 0;
    height: 6vh;
    background-color: #0C9AFF;
    color: white;
    border-radius: 6px;
}

input[type="submit"]:hover {
    background: #ffffff;
    color: #0C9AFF;
    transition: 0.2s;
}

/* Footer */

footer {
    background-color: white;
    color: black;
}
 